html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body{
  margin: 0;
}

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}
ul,ol{
  list-style: none;
  margin: 0;
  padding: 0;
}
a{
  display: inline-block;
  text-decoration: none;
}
img{
  width: 100%;
  height: auto;
}
.container{
  max-width: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
